# Core libraries
numpy==1.25.0
pandas==2.1.1
matplotlib==3.8.0
scikit-learn==1.3.0
opencv-python==4.9.0.74
Pillow==10.1.0

# Deep learning libraries
tensorflow==2.14.0
keras==2.14.0
keras-tuner==1.4.2

# Notebook & utility
jupyter==1.0.0
notebook==7.5.0
ipython==8.17.0
